@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1754201103953') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chakan:before {
  content: "\f02d4";
}

.icon-3dian:before {
  content: "\e613";
}

.icon-dingyue:before {
  content: "\f0228";
}

.icon-profilefill:before {
  content: "\e77a";
}

.icon-12345:before {
  content: "\e665";
}

.icon-shouye:before {
  content: "\e63f";
}

.icon-tag:before {
  content: "\e62a";
}

.icon-sousuo:before {
  content: "\e602";
}

